:root {
    --main-font-color: #a60304;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}

.emphasized {
    color: var(--main-font-color);
}


header {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

header .logo {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
}

header .logo img{
    width: 150px;
    height: 150px;
}

header .nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
}


header .nav__links li{
    padding: 0 1rem;
}

header .nav__links li a {
    text-decoration: none;
    color: white;
}

.section__hero {
    background-image: url(./img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

.hero__content h1{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 700;
    padding-top: 50px;
    padding-right: 20px;
}

.about-us {
    padding: 4rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.section__about-us img {
    width: 100%;
    height: 100%;
}

.about-us__content {
    padding: 50px;
}

.section__about-us p {
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 2.5rem;
    color: var(--main-font-color);
    margin-bottom: 10px;
}